<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Foosh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Foosh.Properties.Settings>
            <setting name="enumPath" serializeAs="String">
                <value>ffxiv_dx11.exe+0x1CAF5E0</value>
            </setting>
            <setting name="cmbCastKey" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="cmbHookKey" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="windowName" serializeAs="String">
                <value>FINAL FANTASY XIV</value>
            </setting>
            <setting name="cmbReleaseKey" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="isRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="catchSmall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="catchMedium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="catchLarge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="maxDelay" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="playerObjectSig" serializeAs="String">
                <value>00 00 2C 00 01 04 ? 01 00 01 00 00 ? ? ? 00 00 00 00 00 00 00 00 00</value>
            </setting>
            <setting name="playerStartOffset" serializeAs="String">
                <value>-136</value>
            </setting>
            <setting name="currentGPOffset" serializeAs="String">
                <value>6314</value>
            </setting>
            <setting name="isChum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbChumKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chumGPCost" serializeAs="String">
                <value>150</value>
            </setting>
        </Foosh.Properties.Settings>
    </userSettings>
</configuration>